{% extends 'base.html' %}
{% block title %}Chat{% endblock %}
{% block content %}
<div>
	<table border="1" class="table_messages">
		{% for message in messages %}
			<tr>
				<td><div class="something_class"><p>{{message.username}}</p></div></td>
				<td><div class="something_class"><p>{{message.text}}</p></div></td>
				<td><div class="something_class"><p>{{message.timestamp}}</p></div></td>
			</tr>
		{% endfor %}
	</table>
</div>
<form action="{% url 'articles:send_message' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="text_message"><br>
	<button type="submit" class="btn btn-primary">Send Message</button>

</form>

{% endblock %}