aiohttp
altgraph
asgiref
astroid
async-timeout
attrs
chardet
colorama
cycler
discord
discord.py
dj-database-url
Django
django-appconf
django-heroku
django-imagekit
future
gunicorn
idna
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
mpmath
multidict
numpy
pefile
pilkit
psycopg2
pyaes
PyInstaller
pylint
pyparsing
pyTelegramBotAPI
python-dateutil
pytz==2020.1
pywin32-ctypes
requests
six
sqlparse
sympy
telebot
Telethon
toml
websockets
whitenoise
wrapt
yarl