<!DOCTYPE html>
<html>
<head>
	{% load static %}
<title></title>
</head>
<body>

<div class="parent"> 
{% for i in all_images %}
  <button class="myclass" id="{{ i.image_name }}">{{i.image_name}}</button>
{% endfor %}



{% for i in all_images %}
  <script type="text/javascript">
  window.onload = function() {
  let button = document.getElementById("{{ i.image_name }}");
  let audio = new Audio();
  let body = document.getElementsByTagName('body')[0];
  
  document.querySelector('.myclass').addEventListener('click', function(e){
  if (button){
    body.style.backgroundImage = "url('{{ i.image.url }}')";
    audio.src = '{{ i.file.url }}';
    audio.autoplay = true;
    return false;
  };   
});    
};
</script>

{% endfor %}
</div>


</body>
</html>
