{% extends  'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}



{% if user.is_authenticated != False %}
    <div class="container">
        {% if latest_article_list %}
    
        {% for a in latest_article_list %}
        <div class="alert alert-primary" role="alert">
            Название статьи: <a href="{% url 'articles:detail' a.id %}">{{a.article_title}}</a>
        </div>
        {% endfor %}
    
        {% else %}
        Статьи не найдены :(
        {% endif %}
    
        <br>
        <form action="{% url 'articles:create_article' %}" method="POST">
            {% csrf_token %}
            <input type="text" required placeholder="Название статьи" name="article_title"><br>
            <textarea name="article_text" required="" placeholder="Текст статьи" cols="30" rows="10"></textarea><br>
            <button type="submit" class="btn btn-primary">Создать статью</button>
        </form>
    </div>
{% else %}
<small class="text-muted">Вы не авторизированы!</small>
{% endif %}



{% endblock %}